#battlefield td {
    width: 14px;
    height: 14px;
    background-color: #3b3c33;
    font-size: 10px;
}

#battlefield td.figure {
     background-color: cadetblue;
}

#battlefield td.heap {
    background-color: red;
}

html, body {
    background-color: black;
    color: gray;
}

.leftEdge {
    border-left: 1px solid mediumvioletred;
}

.rightEdge {
    border-right: 1px solid mediumvioletred;
}

.bottomEdge {
    border-bottom: 1px solid mediumvioletred;
}