#battlefield td {
    width: 16px;
    height: 16px;
    background-color: #3b3c33;
}

#battlefield td.figure {
     background-color: cadetblue;
}

#battlefield td.heap {
    background-color: red;
}

html, body {
    background-color: black;
    color: gray;
}